<ng-container *ngIf="statTable">
    <h4>{{statTable.headerText}}</h4>
    <player-table-nav 
        displayType="player" 
        [playerType]="statTable.playerType"
        [statParams]="statTable.statParameters"
        [teams]="statTable.teams">
    </player-table-nav>
    <player-table 
        displayType="player" 
        [playerType]="statTable.playerType"
        [rows]="statTable.playerRows" 
        [totals]="statTable.totals"
        [isTeam]="statTable.statParameters.team > 0"
        [selectedColumnIndex]="statTable.statParameters.selectedColumnIndex"
        [statTable]="statTable">
    </player-table>
</ng-container>