<nav class="navbar navbar-expand-sm navbar-dark bg-secondary mb-3 p-0" *ngIf="statParams">
  <ul class="navbar-nav text-center mr-auto mr-sm-0">
    <li class="nav-item dropdown" *ngIf="viewLeagues">
      <a class="nav-link dropdown-toggle px-3 text-left" href="#" role="button"
        data-toggle="dropdown">{{getSelectedLeagueOutput()}} </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" (click)="getLink('league', 1)">SHL</a>
        <a class="dropdown-item" (click)="getLink('league', 2)">SMJHL</a>
        <a class="dropdown-item" (click)="getLink('league', 3)">IIHL</a>
      </div>
    </li>
    <li class="nav-item dropdown" *ngIf="viewSeasonTypes">
      <a class="nav-link dropdown-toggle px-3 text-left" href="#" role="button"
        data-toggle="dropdown">{{getSelectedSeasonTypeOutput()}} </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" (click)="getLink('seasonType', 1)">Regular Season</a>
        <a class="dropdown-item" (click)="getLink('seasonType', 2)">Playoffs</a>
      </div>
    </li>
    <li class="nav-item dropdown" *ngIf="viewEras">
      <a class="nav-link dropdown-toggle px-3 text-left" href="#" role="button" data-toggle="dropdown">{{getSelectedEra()}} </a>
      <div class="dropdown-menu dropdown-height">
        <a class="dropdown-item" (click)="getLink('era', 0)">All Time</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="getLink('era', 1)">Modern</a>
        <a class="dropdown-item" (click)="getLink('era', 2)">Inflation</a>
        <a class="dropdown-item" (click)="getLink('era', 3)">Legacy</a>
        <div class="dropdown-divider"></div>
        <ng-container *ngFor="let season of seasons">
          <a class="dropdown-item" (click)="getLink('season', season)">{{season}}</a>
        </ng-container>
      </div>
    </li>
  </ul>
  <ul class="navbar-nav text-center ml-auto ml-sm-0">
    <!-- dropdown-menu-right -->
    <li class="nav-item dropdown" *ngIf="viewTeams">
      <a class="nav-link dropdown-toggle px-3 text-right" href="#" role="button" data-toggle="dropdown">{{getSelectedTeamOutput()}}
      </a>
      <div class="dropdown-menu dropdown-height dropdown-menu-right">
        <a class="dropdown-item" (click)="getLink('team', 0)">All Teams</a>
        <div class="dropdown-divider"></div>
        <ng-container *ngFor="let team of teams">
          <a class="dropdown-item" (click)="getLink('team', team.id)">{{team.name}}</a>
        </ng-container>
      </div>
    </li>

    <li class="nav-item dropdown" *ngIf="viewPlayerTypes">
      <a class="nav-link dropdown-toggle px-3 text-right" href="#" role="button"
        data-toggle="dropdown">{{getSelectedPlayerTypeOutput()}} </a>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" (click)="switchPlayerType('skater')">Skaters</a>
        <a class="dropdown-item" (click)="switchPlayerType('goalie')">Goalies</a>
      </div>
    </li>
  </ul>
</nav>