@import "../../../variables.scss";

a {
    color: white;
}

.dropdown-menu {
    background: $primaryDark;
    position: absolute;
    text-align: center;
}

.dropdown-height {
    overflow-y: scroll !important;
    max-height: 300px !important;
}

@media (max-width: 575px) {
    .dropdown-menu-center {
        left: 50%;
        right: auto;
        transform: translate(-50%, 0);
    }
}