<ng-container *ngIf="statTable">
    <h4>Season Stats</h4>
    <player-table-nav 
        displayType="season" 
        [playerType]="statTable.playerType"
        [statParams]="statTable.statParameters" 
        [teams]="statTable.teams"
        [seasons]="statTable.seasons">
    </player-table-nav>
    <player-table 
        displayType="season" 
        [playerType]="statTable.playerType"
        [rows]="statTable.playerRows" 
        [isTeam]="statTable.statParameters.team > 0"
        [selectedColumnIndex]="statTable.statParameters.selectedColumnIndex"
        [statTable]="statTable">
    </player-table>
</ng-container>