<nav class="navbar navbar-expand-sm navbar-dark bg-primaryDark">
  <div class="container-fluid">

    <a class="navbar-brand" [routerLink]="['']">The Bojo Box</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto text-center">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/season']" routerLinkActive="active">Season</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/career']" routerLinkActive="active">Career</a>
        </li>
      </ul>
    </div>

  </div>
</nav>