@import "../../../variables.scss";

img {
    max-width: 500px;
}

@media (max-width: 575px) {
    img {
        width: 100%;
    }
}

.list-group-item-action {
    border-color: rgb(125, 138, 151);
}