<div class="row justify-content-center">
  <div class="col col-sm-10 col-md-8 col-lg-6">
    <div class="input-group input-group-lg mb-3">
      <input type="text" class="form-control" placeholder="Player Search..." [(ngModel)]="searchInput"
        (keyup.enter)="goToSearch()">
      <div class="input-group-append">
        <button class="btn btn-primaryDark" type="button" (click)="goToSearch()"><i
            class="fas fa-search mr-2"></i>Search</button>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="text-center" *ngIf="!searchResults">
    <a href="#" (click)="getNewImage()"><img [src]="imgPath" /></a>
  </div>
  <div class="col col-sm-10 col-md-8 col-lg-6 text-center" *ngIf="searchResults">
    <a (click)="clearResults()" class="btn btn-sm mb-3" role="button">Clear Results</a>
    <div class="list-group">
      <a *ngFor="let result of searchResults.results" class="list-group-item list-group-item-action"
        [routerLink]="['/' + result.acronym, result.id]">{{result.name}}</a>
    </div>
  </div>
</div>