<div class="outer mb-2" *ngIf="rows">
  <div [ngClass]="{
      'inner': true,
      'fixedMarginSeason': isPlayer,
      'fixedMargin': !isPlayer
    }">
    <table class="table table-hover rayTable text-center">
      <thead>
        <tr>
          <th *ngIf="viewName" class="fixedColumn text-left">Name</th>
          <th *ngIf="viewRank">Rank</th>
          <th *ngIf="viewSeason" [class.fixedColumnSeason]="isPlayer">Season</th>
          <th *ngIf="viewTeam">Team</th>
          <th *ngIf="viewYears">Years</th>
          <th *ngIf="canViewTeamCount()">Teams</th>
          <ng-container *ngIf="viewSkater">
            <th *ngFor="let header of skaterHeaders;let i = index" [class.selectedColumn]="checkIndex(i)" (click)="sortBy(i)">{{header}}
            </th>
          </ng-container>
          <ng-container *ngIf="viewGoalie">
            <th *ngFor="let header of goalieHeaders;let i = index" [class.selectedColumn]="checkIndex(i)" (click)="sortBy(i)">{{header}}
            </th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of rows">
          <td *ngIf="viewName" class="fixedColumn text-left"><a
              [routerLink]="['/' + playerType, row.player.id]">{{row.player.name}}</a></td>
          <td *ngIf="viewRank">{{row.rank}}</td>
          <td *ngIf="viewSeason" [class.fixedColumnSeason]="isPlayer">{{row.season}}</td>
          <td *ngIf="viewTeam"><img src="assets/img/{{row.team.acronym}}.png" *ngIf="row.team" /><span
              *ngIf="!row.team">Split</span></td>
          <td *ngIf="viewYears">{{row.seasonCount}}</td>
          <td *ngIf="canViewTeamCount()">{{row.teamCount}}</td>
          <td *ngFor="let stat of row.stats;let i = index" [class.selectedColumn]="checkIndex(i)">{{stat}}</td>
        </tr>
      </tbody>
      <tfoot *ngIf="viewTotals">
        <ng-container *ngIf="isPlayer">
          <tr>
            <th *ngFor="let total of totals;let i = index" [class.fixedColumnSeason]="i == 0"
              [class.selectedColumn]="checkIndexTotal(i)">{{total}}</th>
          </tr>
        </ng-container>
      </tfoot>
    </table>
  </div>
  <pagination [pages]="pages" class="float-right mt-2"></pagination>
</div>