@import "../../../variables.scss";

.outer {
    position: relative;
    overflow: auto;
}

.inner {
    overflow-x: scroll;
    overflow-y: visible;
}

.fixedColumn {
    position: absolute;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    background-color: $secondary;
    border-bottom: 5px solid $primary;
}

.fixedColumnSeason {
    @extend .fixedColumn;
    width: 100px;
    text-align: center;
}

@media (max-width: 575px) {
    .fixedMargin {
        margin-left: 110px
    }
    .fixedMarginSeason {
        margin-left: 70px;
    }
    .fixedColumn {
        width: 110px;
    }
    .fixedColumnSeason {
        width: 70px;
    }
}

@media (min-width: 576px) {
    .fixedMargin {
        margin-left: 230px;
    }
    .fixedMarginSeason {
        margin-left: 100px;
    }
    .fixedColumn {
        width: 230px;
    }
    .fixedColumnSeason {
        width: 100px;
    }
}



tfoot th.fixedColumnSeason {
    border: 0px;
}

.rayTable {
    margin-bottom: 0px;
}

.rayTable td {
    line-height: 2;
    padding: 2px 10px;
}

.rayTable tbody {
    border-top: 5px solid $primary;
    border-bottom: 5px solid $primary;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: $secondary;
}

.selectedColumn {
    background: $secondary;
}