@import "../node_modules/bootstrap/scss/functions";
@import "./variables.scss";
@import "../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootswatch/dist/superhero/bootswatch";

hr {
    background: $secondary;
}

.bg-primaryDark {
    background: $primaryDark;
}

.btn-primaryDark {
    color: #fff;
    background-color: $primaryDark;
    border-color: $primaryDark;
  }
  
  .btn-primaryDark:hover {
    color: #fff;
    background-color: $primary;
    border-color: $primary;
  }
  
  .btn-primaryDark:focus, .btn-primary.focus {
    -webkit-box-shadow: 0 0 0 0.2rem $primaryDarkHalf;
            box-shadow: 0 0 0 0.2rem $primaryDarkHalf;
  }
  